*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #00539c;
}
.container {
  background-color: #fbeaeb;
  width: 90vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(30, 60, 60, 0.5);
}
.search {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid #00539c;
  font-size: 16px;
}
.search button {
  padding: 15px 0;
  width: 25%;
  background-color: #00539c;
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
}
.result {
  position: relative;
}
.result h3 {
  font-size: 30px;
  color: #054379;
}
.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result button {
  background-color: transparent;
  color: #418cce;
  border: none;
  outline: none;
  font-size: 18px;
}

.result .details {
  display: flex;
  gap: 10px;
  color: #64b7ffc0;
}
.word-meaning {
  color: #054379;
}
.word-example {
  color: #054379;
  font-style: italic;
  margin-top: 30px;
  padding-left: 20px;
  border-left: 3px solid #054379;
}
.ref {
  height: 20px;
  width: 100%;
}
.ref h1 {
  font-size: 16px;
  color: #f3d5d6;
  margin-left: 3px;
  margin-top: 3px;
  font-family: "Eczar", serif;
  width: 100%;
}
.error{
    margin-top: 80px;
    text-align: center;
}